body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  font-weight: normal;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.container {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

body header {
  padding: 12px;
  text-align: center;
  background-color: #000;
  opacity: 0.3;
  color: #fff;
}
body header h1 {
  font-size: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 130px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.addTask {
  background-color: #36a1df;
  color: white;
  padding: 16px 18px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}

#CreateToDo {
  padding: 16px;
  border: none;
  background-color: #ebf6ff;
  font-size: 16px;
  margin-left: -5px;
  min-width: 25%;
  outline: none;
}

.paragraph-styling {
  font-size: 20px;
  margin-left: 30%;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  .paragraph-styling {
    font-size: 20px;
    margin-left: 10%;
  }
  #CreateToDo {
    max-width: 250px;
  }
}

@media only screen and (max-width: 400px) {
  #CreateToDo {
    max-width: 130px;
  }
}

@media only screen and (max-width: 340px) {
  #CreateToDo {
    max-width: 100px;
  }
  .dropbtn {
    width: 127px;
  }
}
